.credentials-container .button {
  margin: 0 0 30px 0;
}

@media screen and (min-width: 600px) {
  .credentials-container .button {
    margin: 0;
  }

  .credentials-row {
    position: relative;
    overflow: hidden;
    padding-right: 120px;
  }

  .credentials-row .credentials-col {
    float: left;
  }

  .credentials-row .credentials--name {
    width: 38%;
    padding-right: 2%;
  }

  .credentials-row .credentials-field--value {
    width: 60%;
  }

  .credentials-row .credentials-field input {
    width: 100%;
  }

  .credentials-row .credentials-remove.button {
    position: absolute;
    top: 31px;
    right: 0;
    margin: 0;
  }

  .credentials-row .credentials-field--key .form-text {
    margin-bottom: 20px;
  }

  .credentials-row .credentials-field--key.visually-hidden {
    display: none;
  }

}
